Tokoin_TestCode/Podfile.lock
Tokoin_TestCode/Pods/Manifest.lock
Tokoin_TestCode/Pods/*
Tokoin_TestCode/Tokoin_TestCode.xcworkspace/contents.xcworkspacedata
Tokoin_TestCode/Tokoin_TestCode.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Tokoin_TestCode/Tokoin_TestCode.xcworkspace/xcuserdata/lanthien.xcuserdatad/UserInterfaceState.xcuserstate
